<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="abc.wuyan.mapper.RoleMapper">

    <select id="findAll" resultType="Role">
        select * from role
    </select>


    <select id="findById" parameterType="int" resultType="Role">
        SELECT * FROM role WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Role">
        INSERT INTO role (role_name,role_pri) VALUE (#{role_name},#{role_pri})
   </insert>

    <update id="update" parameterType="Role">
        update role set role_name = #{role_name}, role_pri = #{role_pri}
        where id = #{id}
   </update>

    <delete id="deleteById" parameterType="int">
    delete from role
    where id = #{id}
  </delete>
</mapper>